= form_for [@user, Search.new] do |f|
  = f.hidden_field :user_id, :value => @user.id
  = f.text_field :location, :placeholder => "Type in another friend's location"
  = f.submit 'See Between Us'


h1 = @user.location
| is where you live

br/
br/

h1 = @search.location
| is where the other person lives

br/
br/
= "There are #{@miles_between.round} miles of uncharted territory between you guys"
br/

h1 = "#{@mid_point[0].city}, #{@mid_point[0].state}"
| is where you should hang out

= gmaps4rails(@gmaps_json)

/ | New Search
/ = form_tag searches_path, :method => post do
/   = text_field_tag :location
/   = submit_tag 'New Search'


/ THIS ONLY PULLS UP NEARBY OTHER SEARCHES
/
/ | Nearby Spots ==>
/
/ - for location in @search.nearbys(100)
/   = link_to location.address, [@user, Search.new]
/     = location.distance.round(2)
/     | "miles"
/   br/
