/*@import url(http://fonts.googleapis.com/css?family=Amatic+SC|Baumans); */
body {
  background: url(/assets/dot_map.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Baumans', cursive;
}

input {
  font-family: 'Baumans', cursive;
  text-align: center;
}

input[type=submit]{
  width: 120px;
  margin: 0 0 0 10px;
  background-color: #ccc;
  font-family: 'Baumans', cursive;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover{
  text-decoration: underline;
}

#flash_error{
  color:red;
}

#flash_notice{
  color:green;
}

.container{
  margin: 5% auto 0 auto;
  width: 1200px;
  height: 580px;
  background-color: white;
  opacity:0.95;
  filter:alpha(opacity=95);
  border: 2px solid grey;
  padding: 10px;
}
.container input[type=submit]{
  width: 220px;
  margin: 0 0 0 20px;
}

.small_container {
  margin: 5% auto 0 auto;
  width: 820px;
  height: 590px;
  background-color: white;
  opacity:0.95;
  filter:alpha(opacity=95);
  border: 2px solid grey;
  padding: 20px;
}

.small_container input[type=submit]{
  width: 220px;
  margin: 0 0 0 20px;
}

.tiny_container {
  margin: 5% auto 0 auto;
  width: 695px;
  height: 220px;
  background-color: white;
  opacity:0.95;
  filter:alpha(opacity=95);
  border: 2px solid grey;
  padding: 20px;
}
.tiny_container input {
  font-size: 20px;
  width: 185px;
  margin: 0 10px 0 0;
}
.tiny_container input[type=submit]{
  font-size: 20px;
  width: 80px;
  height: 32px;
  font-family: 'Baumans', cursive;
}
.super_tiny_container{
  margin: 5% auto 0 auto;
  width: 500px;
  height: 62px;
  background-color: white;
  opacity:0.95;
  filter:alpha(opacity=95);
  border: 2px solid grey;
  padding: 20px;
}
.super_tiny_container input {
  font-size: 20px;
  width: 185px;
  margin: 0 10px 0 0;
}
.super_tiny_container input[type=submit]{
  font-size: 20px;
  width: 80px;
  height: 32px;
  font-family: 'Baumans', cursive;
}


.header {
  margin: 0 0 0 10px;
}

.header form{
  display: inline;
}

.search{
  text-align: center;
}

.search input{
  height: 50px;
  width: 450px;
  font-size: 28px;
  margin: 0 0 20px 0;
}

.gmap_container{
  width: 820px;
  float: left;
  margin: 0 auto;
  text-align: center;
}

.gmap_container h1 {
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
}

#gmap_instructions{
  float: left;
  width: 380px;
  height: 475px;
  overflow-y: auto;
}

#yelp{
  width: 380px;
  float: left;
}

.intro h4{
  font-size: 15px;
  text-align: center;
}
.intro h3{
  font-size: 18px;
}
.intro h2{
  text-align: center;
  font-size: 25px;
}
.intro h1{
  font-size: 40px;
}

/*@media screen and (max-width: 1200px){
  .container{
    width: 100%;
  }
}
*/
