#flash_error{
  color:red;
}

#flash_notice{
  color:green;
}

.container{
  width: 850px;
  margin: 25px auto;
}

.header form{
  display: inline;
}

#gmap{
  float: left;
}

#gmap_instructions{
  float: left;
}

#gmap_underbar{
  clear: both;
}

#yelp{
  clear: both;
}
