#flash_error{
  color:red;
}

#flash_notice{
  color:green;
}

.container{
  width: 850px;
  margin: 25px auto;
}

.header form{
  display: inline;
}

.search{
  text-align: center;
}

.search input{
  height: 50px;
  width: 450px;
  font-size: 28px;
}
.search input[type=submit]{
  width: 120px;
  margin: 0 0 0 20px;
}

#gmap{
  float: left;
}

#gmap_instructions{
  float: left;
}

#gmap_underbar{
  clear: both;
}

#yelp{
  clear: both;
}
